.main{
    width:900px;
    background-color: #FAE7F6;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    padding-top: 3px;
}

h1{
    text-align: center;
    background-color: #FFCCFF;
    border-radius: 15px;
    max-width: 80%;
    margin-left: 10%;
    height: 20%;
    font-weight: bold;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    padding-top: 3%;

}
.form{
    display: flex;
}
table{
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;

    width: 75%;
    border-collapse: collapse;
    table-layout: fixed;

    overflow: hidden;
    border-radius: 15px;

background-color: white;
}
.title{
   background-color:  #84D9D0;
}
.links{
margin-left: 90%;
}
