.main-container{
    width:900px;
    margin: 0 auto;
    background-color: #FAE7F6;
    border-radius: 15px;
    padding-top: 3px;
}

.sub-container{
    margin: 0 auto;
    background-color: #FFCCFF;
    border-radius: 15px;
    max-width: 70%;
    height: 15%;
    height: 10%;
    margin-bottom: 5%;
    margin-top: 3%;

}
h1{
    text-align: center;
    height: 15%;
    font-weight: bold;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    padding-top: 3%;
    padding-bottom: 3%;
}

.form{
    display: flex;
}
table{
    margin-top: 5%;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    table-layout: auto;
}

table td{
    white-space: nowrap;
}

.title{
   background-color:  #84D9D0;
}
.links{
margin-left: 90%;
}
