body{
    height: 100%;
}

.container{
    width: 900px;
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
    /* margin-top: 8px; */
    /* align-content: flex-start; */
    padding-top: 10px;
    margin: 0 auto;
    /* height: 200px; */

}

.logomoji ruby img {
    width: 230px;
    height: auto;

}

.text1{
    color: black;
    margin-top: 10px;
    margin-left: 15px;
    width: 300px;
}

.text1 a{
    font-size: 20px;
    font-weight: bold;
    /* font-family: sans-serif; */
}

.text1 p{
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 0;
    color: rgb(63, 62, 62);
}

.text2{
    width: 300px;
    height: 81px;
    margin-top: 0;
    border: 1px solid hsl(174, 53%, 68%); /*線の太さ・色*/
    background-color:rgba(); /*背景色*/
    border-radius: 10px;
    display: flex;
    margin-left: 100px;

}

.text2 img{
    width: 63px;
    height:63px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: rgba();

}
.text2 ul{
    flex-direction: column;
    margin-top: 6px;
    margin-right: 2px;
    list-style: none;

}

.text2 li .name{
    text-align: center;
    font-size: 14px;
    color: black;

}

.text2 li .member{
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;

}

.text2 li .like{
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;

}

/* .text2 li a{

    /* border: 1px solid ;線の太さ・色 */
    /* background-color:rgba(); /*背景色*/
    /* border-radius: 10px;
    display: flex;
    width: fit-content; */
/* } */

body .nav{
    background-color:#84D9D0;
    height: 40px;
    width: 100%;


}

body .nav .pan{
    width: 900px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    vertical-align: middle;
}

body .nav .pan a{
    font-size: small;
    text-decoration: none;
    /* align-items: flex-start;
    display: flex;  */
    list-style: none;
    font-size: 13px;
    padding-top: 10px;
}

.main-photo img{
    position: relative;
    margin-left: 100px;
    display: flex ;
    width: 900px;
    justify-content: right;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 10px;

}

.main-photo h3{
    position: absolute;
    font-family: "筑紫B丸ゴシック";
    color: rgb(70, 70, 70);
    font-size: 35px;
    top: 120px;
    right: 20%;

}

.main-photo .select{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 180px;
    left: 23%;

}

.main-photo .select .dantai {
    background-color: rgba(255,255,255,0.5);
    /* border-radius: 30%; */
    text-align: center;
    height: 120px;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
 }

 .main-photo .select .dantai .list{
    font-size: 12px;
 }

 .main-photo .select .dantai .list a{



 }

.main-photo .select .cat {
   background-color: rgba(255,255,255,0.5);
   /* border-radius: 30%; */
   text-align: center;
   border-bottom-left-radius: 20px 20px;
   border-bottom-right-radius: 20px 20px;
   border-top-left-radius: 20px 20px;
   border-top-right-radius: 20px 20px;
}

.main-photo .select .info {
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;

 }

 .main-photo .select .dantai:hover {/*ホバー*/
    background: rgb(250, 207, 240);
}

 .main-photo .select .cat:hover {/*ホバー*/
    background: rgba(255, 255, 255, 1);
}

.main-photo .select .info:hover {/*ホバー*/
    background: rgba(255, 255, 255, 1);
}


.main-photo .select .dantai img{
    width: 55px;
    height: auto;

}

.main-photo .select .cat img{
    width: 50px;
    height: auto;

}

.main-photo .select .info img{
    width: 60px;
    height: auto;

}

.main-photo .select .dantai p{
    color: rgb(0, 0, 0);
    font-size: 24px;
    list-style: none;
    margin-bottom: 2px;
}

.main-photo .select .cat p{
    /* position: absolute; */
    color: rgb(0, 0, 0);
    font-size: 24px;
    list-style: none;
    /* top: 300px;
    left: 24%; */
    /* width: 300px;
    height: 50px; */
    /* border-radius: 10%; */
    /* background-color: #84D9D0; */
    /* justify-content: center; */
}

.main-photo .select .info p{
    /* position: absolute; */
    color: rgb(0, 0, 0);
    font-size: 24px;
    list-style: none;
    /* top: 400px;
    left: 24%; */
}

.container-nav{
    /* margin-left: 200px; */
    width: 900px;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 0 auto;
}

.container-nav .logo img{
    width: 130px;
    height: auto;
    /* margin-left: 100px; */
    display: flex ;
    /* margin: 0 auto; */

}

.container-nav .box:hover {/*ホバー*/
    background: rgba(225, 250, 1, 0.3);
}

.container-nav .box ul{
    flex-direction: column;
    vertical-align: middle;
    /* text-align: center; */
}

/* .container-nav .box a:hover{/*カーソル当てたとき*/
    /* background: rgba(225,225,225,0.3);
} */


.container-nav .box2 li{
    /* text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px; */
    list-style-position: outside;
    list-style: none;
    text-align: center;
    margin-left: -33px;
    margin-top: 8px;


}
.container-nav .box2 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;


    /* list-style-position: outside;
    list-style: none; */

}



.container-nav .box3 li{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;
    margin-left: -35px;
    list-style-position: outside;
    list-style: none;
    text-align: center;

}

.container-nav .box4 li{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;
    margin-left: 3px;
    margin-top: 5px;
    list-style-position: outside;
    list-style: none;

}

.container-nav .box a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    text-align: center;
}


.container-nav .box1{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #84D9D0;
    align-items: center;
    justify-content: center;
    display: flex;

}

.container-nav .box2{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FAE7F6;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    /* text-align: center; */

}

.container-nav .box2 img{
    width: 30px;
    margin-top: 10px;
    text-align: center;
    /* margin-left: 60px; */
}

.container-nav .box3 img{
    width: 30px;
    margin-top: 10px;
    text-align: center;
    /* margin-left: 60px; */

}

.container-nav .box3{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #84D9D0;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    /* text-align: center; */

}

.container-nav .box4{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FAE7F6;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    /* text-align: center; */

}

.container-nav .box4 img{
    width: 50px;
    /* margin-top: 10px; */
    text-align: center;
    margin-left: 60px;
}



.container-main{
    /* margin-left: 200px; */
    width: 900px;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
}

.logomoji2 {
    flex-direction: row;
}

.logomoji2 img{
    width: 220px;
    height: auto;

}

.container-main .name{
    font-size: 30px;
    font-weight: bold;
    color: rgb(41, 40, 40);
    margin-left: 25px;
    margin-top: 30px;
}


.container-main .text p{
    font-size: 18px;
    text-align: left;
    text-justify: auto;
    color: rgb(63, 62, 62);
}


.container-text{
        width: 900px;
        height: auto;
        display: flex;
        flex: 1;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 20px;
}

 

/**フッター*/
.footer{
    background: #FAE7F6;
    background-size: auto;
    width: 100%;
    height: 90px;
}

.footer .info{
    width: 900px;
    margin: 0 auto;
}

.footer ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 3px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding-top: 10px;
}

.mark{
    font-size: 2px;
    text-align: center;
}
