/* ページ送りを中央寄せ */
.pagination {
    text-align: center;
}

/* ページ送りを横並びに */
.pagination li {
    display: inline-block;
}

h1 {
    text-align: left;
    border-bottom: 50px solid;
    border-color: #40e0d0;
    border-width: 900%;

}

.submit .confilm {
    padding: 1%;
    margin-left: 60%;
    color: white;
    font-weight: 800;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #40e0d0;
}

section {
    margin-top: 5%;
    text-align: center;
    background-color: #FFCCFF;
    border-radius: 30px;
    margin-right: 20%;
    margin-left: 20%;
    font-size: large;

}

section p {
    font-size: 25px;
}

input {
    border-radius: 15px;
    height: 50px;
}

textarea {
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 190px;
    height: 30%;
    width: 40%;

}

.submit.confilm {
    color: white;
    font-weight: 800;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #030505;
}


.form-danger {
    text-align: center;
    list-style-type: none;
    background-color: #e75151;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    color: white;
    padding: 40px;
}