ページ送りを中央寄せ
.pagination {
    text-align: center;
}

ページ送りを横並びに
.pagination li {
    display: inline-block;
}

h1 {
    text-align: left;
    border-bottom: 50px solid;
    border-color: #40e0d0;
    border-width: 900%;
}

.satooya-container{
    width: 900px;
    height: auto;
    margin: 0 auto;
    /* background-color: #FAE7F6; */
}

.satooya-sub-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    background-color:#FAE7F6 ;
    padding-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    /* background-color: #FFCCFF; */
    border-radius: 30px;
    margin-right: 20%;
    margin-left: 20%;
    font-size: large;
}


.submit .confilm {
    padding: 2%;
    text-align: center;
    margin-left: 70%;
    margin-bottom: 5%;
    margin: 0 auto;

}

section {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    /* background-color: #FFCCFF; */
    border-radius: 30px;
    /* margin-right: 20%;
    margin-left: 20%; */
    font-size: large;
    padding-bottom: 5%;

}

.satooya-container p {
    font-size: 20px;
    margin-bottom: 1px;

}

.satooya-container input {
    border-radius: 15px;
    height: 50px;
    border: darkgray;
    margin-bottom: 10px;
}

.satooya-container textarea {
    border-radius: 15px;
    text-align: center;
    border: darkgrey;
    /* margin-bottom: 40px; */
    /* margin-left: 190px; */
    height: 10%;
    width: 80%;
}

.confilm {
    color: white;
    font-weight: 800;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #40e0d0;
}

.satooya-sub-container.submit{
    /* padding: 1%; */
    /* margin-left: 60%; */
    margin: 0 auto;
}

.form-danger {
    text-align: center;
    list-style-type: none;
    background-color: #e75151;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    color: white;
    padding: 40px;
}
