body{
    height: 100%;
}

.container{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    margin: 0 auto;
}

.logomoji ruby img {
    width: 230px;
    height: auto;
}

.text1{
    color: black;
    margin-top: 10px;
    margin-left: 15px;
    width: 300px;
}

.text1 a{
    font-size: 20px;
    font-weight: bold;
}

.text1 p{
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 0;
    color: rgb(63, 62, 62);
}

.text2{
    width: 360px;
    height: 81px;
    margin-top: 0;
    border: 1px solid hsl(174, 53%, 68%); /*線の太さ・色*/
    background-color:rgba(); /*背景色*/
    border-radius: 10px;
    display: flex;
    margin-left: 100px;
}

.text2 figure{
    font-size: 14px;
    margin: 0 1rem;
}

.text2 img{
    width: 50px;
    height:50px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 50%;
    border: darkgrey;
}

.text2 a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.text2 ul{
    flex-direction: column;
    margin-top: 6px;
    margin-right: 2px;
    list-style: none;
}

.text2 li .name{
    text-align: center;
    font-size: 14px;
    color: black;
}

.text2 li .member{
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.text2 li .like{
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
}


body .nav{
    background-color:#84D9D0;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
}

body .nav .pan{
    width: 900px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    vertical-align: middle;
    white-space: pre;
}

body .nav .pan a{
    font-size: small;
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 13px;
    padding-top: 10px;
}

.main-photo img{
    position: relative;
    margin-left: 100px;
    display: flex ;
    width: 900px;
    justify-content: right;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 10px;
}

.main-photo h1{
    position: absolute;
    font-family: "筑紫B丸ゴシック";
    font-size: xx-large;
    color: #fff;
    top: 150px;
    right: 28%;
}

.container-nav{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 0 auto;
}

.container-nav .logo img{
    width: 130px;
    height: auto;
    display: flex ;
}

.container-nav .box:hover {/*ホバー*/
    background: rgba(225, 250, 1, 0.3);
}

.container-nav .box ul{
    flex-direction: column;
    vertical-align: middle;
    margin-top: 10%;
}

.container-nav .box2 li{
    list-style-position: outside;
    list-style: none;
    text-align: center;
    margin-left: -33px;
    margin-top: 8px;
}

.container-nav .box2 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;
}

.container-nav .box3 li{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;
    margin-left: -35px;
    list-style-position: outside;
    list-style: none;
    text-align: center;
}

.container-nav .box4 li{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    width: 200px;
    margin-left: 3px;
    margin-top: 5px;
    list-style-position: outside;
    list-style: none;
}

.container-nav .box a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック";
    text-align: center;
}


.container-nav .box1{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #84D9D0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-nav .box2{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FAE7F6;
    justify-content: center;
    display: flex;
}

.container-nav .box2 img{
    width: 30px;
    margin-top: 10px;
    text-align: center;
}

.container-nav .box3 img{
    width: 30px;
    margin-top: 10px;
    text-align: center;
}

.container-nav .box3{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #84D9D0;
    justify-content: center;
    display: flex;
}

.container-nav .box4{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FAE7F6;
    justify-content: center;
    display: flex;
}

.container-nav .box4 img{
    width: 50px;
    text-align: center;
    margin-left: 60px;
}

.container-nav .box4 p{
    font-size: 9px;
    margin-left: 23px;
}

.container-nav .box5{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FAE7F6;
    justify-content: center;
    display: flex;

}
.container-nav .box5 li{
    list-style: none;
    margin-left: -20%;
}

.container-nav .box5 img{
    width: 120px;
    margin-top: 26%;
    margin-left: 5%;
}

