body{
    background-image: url(/img/andcat_second2.jpg);
    background-size: cover;

}

.container{
    width: 580px;
    height: 900px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.container .box{
    width: 580px;
    height: 800px;
    /* margin: 0 auto;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 30px;
    background-color: white;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    /* display: block; */

}

.box .nav{
    background-color:#84D9D0;
    height: 40px;
    width: 100%;
    margin-top: 40px;

}

.nav {
    width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 6px;
    /* vertical-align: middle; */
}

.box .nav  a{
    font-size: small;
    text-decoration: none;
    /* align-items: flex-start;
    display: flex;  */
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;

}

.logo img{
    position: relative;
    width: 80px;
    height: auto;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;

}

.login{
    width: 580px;
    text-align: center;
    margin: 0 auto;

}

.login h1{
    font-size: x-large;
    margin: 4px;
}

.main {
    width: 580;
    height: 450px;
}

