/* body{
    background-image: url(/img/login.jpg);
    background-size: cover;

}

.navbar{
    width: 100%;
    height: 40px;
    background-color: white;
} */

/* .navbar-nav{
    margin-left: 70%;
}

.navbar-nav ul {
    width: 180px;

    display: flex;
    justify-content: space-between;

}

.navbar-nav li{
    list-style: none;
} */

/* .navbar-nav li a{
    color: black;

} */
